@import "tailwindcss";

/* O @apply agora funciona dentro das camadas do CSS padrão */
@theme {
  --color-slate-50: #f8fafc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-slate-50);
}